*.zip
classical_ml/dataset/Kvasir-SEG/
classical_ml/dataset/data/
classical_ml/dataset/EndoscopicBladderTissue/

.vscode/
.idea/

quant_venv

classical_ml/models/unet_model.pth
classical_ml/models/unet_pretrained.pth