
*.zip
classical_ml/dataset/Kvasir-SEG/
classical_ml/dataset/data/
classical_ml/dataset/EndoscopicBladderTissue/

.vscode/
.idea/

quant_venv

classical_ml/models/unet_model.pth
classical_ml/models/unet_pretrained.pth
classical_ml/models/unet_pretrained_improved_1.pth
classical_ml/models/unet_pretrained_improved_2.pth
classical_ml/models/unet_model_improved_1.pth
classical_ml/models/unet_model_improved_2.pth
classical_ml/models/unet_model_improved_3.pth
classical_ml/output

.DS_Store
*.zip
kidney_stone/
qml_kidney_stone/

EndoscopicBladderTissue/dataset/
EndoscopicBladderTissue/__pycache__/
EndoscopicBladderTissue/anaconda_projects/
EndoscopicBladderTissue/.ipynb_checkpoints/
