
*.zip
classical_ml/dataset/Kvasir-SEG/
classical_ml/dataset/data/
classical_ml/dataset/EndoscopicBladderTissue/

.vscode/
.idea/

quant_venv

classical_ml/models/unet_model.pth
classical_ml/models/unet_pretrained.pth
classical_ml/models/unet_pretrained_improved_1.pth
classical_ml/models/unet_pretrained_improved_2.pth
classical_ml/models/unet_model_improved_1.pth
classical_ml/models/unet_model_improved_2.pth
classical_ml/models/unet_model_improved_3.pth
classical_ml/output

.DS_Store
__pycache__/
**/__pycache__/
*.zip
kidney_stone/
qml_kidney_stone/images/
qml_kidney_stone/training_data/*.jpg
qml_kidney_stone/training_data/*.json
qml_kidney_stone/results/*.png
qml_kidney_stone/results/*.csv
qml_kidney_stone/__pycache__/

EndoscopicBladderTissue/dataset/
EndoscopicBladderTissue/results/publication_benchmark/
EndoscopicBladderTissue/__pycache__/
EndoscopicBladderTissue/anaconda_projects/
EndoscopicBladderTissue/.ipynb_checkpoints/
